@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply h-full bg-h p-2.5 font-body text-p;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading text-h;
    }
}

@layer utilities {
    .center {
        @apply flex items-center justify-center;
    }
}

/* scrollbar styling */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #D9E1F2;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: #09192f;
    border-radius: 15px;
    border: 3px solid #D9E1F2;
    transition: background 250ms ease;
    cursor: grab;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background: #133461;
}